parameters:
	ignoreErrors:
		-
			message: '#^Access to constant MULTI_SELECT on an unknown class TYPO3\\CMS\\Backend\\Template\\Components\\Buttons\\LanguageSelectorMode\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Access to constant SINGLE_SELECT on an unknown class TYPO3\\CMS\\Backend\\Template\\Components\\Buttons\\LanguageSelectorMode\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Access to property \$languageInformation on an unknown class TYPO3\\CMS\\Backend\\Context\\PageContext\.$#'
			identifier: class.notFound
			count: 2
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Access to property \$pageId on an unknown class TYPO3\\CMS\\Backend\\Context\\PageContext\.$#'
			identifier: class.notFound
			count: 3
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Access to property \$pageTsConfig on an unknown class TYPO3\\CMS\\Backend\\Context\\PageContext\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Access to property \$selectedLanguageIds on an unknown class TYPO3\\CMS\\Backend\\Context\\PageContext\.$#'
			identifier: class.notFound
			count: 2
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Call to an undefined method TYPO3\\CMS\\Backend\\Template\\Components\\DocHeaderComponent\:\:disableAutomaticReloadButton\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Call to an undefined method TYPO3\\CMS\\Backend\\Template\\Components\\DocHeaderComponent\:\:setLanguageSelector\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Call to an undefined method TYPO3\\CMS\\Backend\\Template\\Components\\DocHeaderComponent\:\:setPageBreadcrumb\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Call to an undefined method TYPO3\\CMS\\Backend\\Template\\Components\\DocHeaderComponent\:\:setShortcutContext\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Call to an undefined method TYPO3\\CMS\\Backend\\View\\Drawing\\DrawingConfiguration\:\:setSelectedLanguageIds\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Call to an undefined method TYPO3\\CMS\\Core\\DataHandling\\PageDoktypeRegistry\:\:isPageViewable\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Call to method build\(\) on an unknown class TYPO3\\CMS\\Backend\\Template\\Components\\Buttons\\LanguageSelectorBuilder\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Call to method createMenu\(\) on an unknown class TYPO3\\CMS\\Backend\\Template\\Components\\ComponentFactory\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Call to method createMenuItem\(\) on an unknown class TYPO3\\CMS\\Backend\\Template\\Components\\ComponentFactory\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Call to method hasMultipleLanguagesSelected\(\) on an unknown class TYPO3\\CMS\\Backend\\Context\\PageContext\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Cannot call method getRequestUri\(\) on TYPO3\\CMS\\Core\\Http\\NormalizedParams\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Class TYPO3\\CMS\\Backend\\Context\\PageContext not found\.$#'
			identifier: class.notFound
			count: 3
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Class TYPO3\\CMS\\Backend\\Template\\Components\\Buttons\\LanguageSelectorBuilder not found\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Class TYPO3\\CMS\\Backend\\Template\\Components\\ComponentFactory not found\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Class TYPO3\\CMS\\Backend\\View\\PageLayoutContext constructor invoked with 4 parameters, 5 required\.$#'
			identifier: arguments.count
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Method TYPO3\\CMS\\Backend\\View\\BackendLayout\\ContentFetcher\:\:getFlatContentRecords\(\) invoked with 2 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Method TYPO3\\CMS\\Backend\\View\\BackendLayout\\ContentFetcher\:\:getTranslationData\(\) invoked with 3 parameters, 2 required\.$#'
			identifier: arguments.count
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Parameter \#1 \$backendLayout of static method TYPO3\\CMS\\Backend\\View\\Drawing\\DrawingConfiguration\:\:create\(\) expects TYPO3\\CMS\\Backend\\View\\BackendLayout\\BackendLayout, TYPO3\\CMS\\Backend\\View\\BackendLayout\\BackendLayout\|null given\.$#'
			identifier: argument.type
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Parameter \#1 \$contentElements of method TYPO3\\CMS\\Backend\\View\\BackendLayout\\ContentFetcher\:\:getTranslationData\(\) expects iterable, TYPO3\\CMS\\Backend\\View\\PageLayoutContext given\.$#'
			identifier: argument.type
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Parameter \#1 \$languageId of method TYPO3\\CMS\\Backend\\View\\BackendLayout\\ContentFetcher\:\:getFlatContentRecords\(\) expects int, TYPO3\\CMS\\Backend\\View\\PageLayoutContext given\.$#'
			identifier: argument.type
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Parameter \#1 \$pageRecord of class TYPO3\\CMS\\Backend\\View\\PageLayoutContext constructor expects array, TYPO3\\CMS\\Backend\\Context\\PageContext given\.$#'
			identifier: argument.type
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Parameter \#2 \$backendLayout of class TYPO3\\CMS\\Backend\\View\\PageLayoutContext constructor expects TYPO3\\CMS\\Backend\\View\\BackendLayout\\BackendLayout, TYPO3\\CMS\\Backend\\View\\BackendLayout\\BackendLayout\|null given\.$#'
			identifier: argument.type
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Parameter \#2 \$language of method TYPO3\\CMS\\Backend\\View\\BackendLayout\\ContentFetcher\:\:getTranslationData\(\) expects int, iterable given\.$#'
			identifier: argument.type
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Parameter \#3 \$site of class TYPO3\\CMS\\Backend\\View\\PageLayoutContext constructor expects TYPO3\\CMS\\Core\\Site\\Entity\\SiteInterface, TYPO3\\CMS\\Backend\\View\\Drawing\\DrawingConfiguration given\.$#'
			identifier: argument.type
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Parameter \#4 \$drawingConfiguration of class TYPO3\\CMS\\Backend\\View\\PageLayoutContext constructor expects TYPO3\\CMS\\Backend\\View\\Drawing\\DrawingConfiguration, Psr\\Http\\Message\\ServerRequestInterface given\.$#'
			identifier: argument.type
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Parameter \$pageContext of method TYPO3\\CMS\\VisualEditor\\Backend\\Controller\\PageEditController\:\:buildViewModeSwitchParams\(\) has invalid type TYPO3\\CMS\\Backend\\Context\\PageContext\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Property TYPO3\\CMS\\VisualEditor\\Backend\\Controller\\PageEditController\:\:\$moduleData \(TYPO3\\CMS\\Backend\\Module\\ModuleData\) does not accept TYPO3\\CMS\\Backend\\Module\\ModuleData\|null\.$#'
			identifier: assign.propertyType
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Property TYPO3\\CMS\\VisualEditor\\Backend\\Controller\\PageEditController\:\:\$selectedLanguages \(list\<TYPO3\\CMS\\Core\\Site\\Entity\\SiteLanguage\>\) does not accept array\<int\<0, max\>, TYPO3\\CMS\\Core\\Site\\Entity\\SiteLanguage\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Unable to resolve the template type T in call to function array_values$#'
			identifier: argument.templateType
			count: 1
			path: Classes/Backend/Controller/PageEditController.php

		-
			message: '#^Call to method createPublicResource\(\) on an unknown class TYPO3\\CMS\\Core\\SystemResource\\SystemResourceFactory\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/Core/RichtText/RichTextConfigurationService.php

		-
			message: '#^Call to method generateUri\(\) on an unknown class TYPO3\\CMS\\Core\\SystemResource\\Publishing\\SystemResourcePublisherInterface\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/Core/RichtText/RichTextConfigurationService.php

		-
			message: '#^Class TYPO3\\CMS\\Core\\SystemResource\\Publishing\\SystemResourcePublisherInterface not found\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/Core/RichtText/RichTextConfigurationService.php

		-
			message: '#^Class TYPO3\\CMS\\Core\\SystemResource\\SystemResourceFactory not found\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/Core/RichtText/RichTextConfigurationService.php

		-
			message: '#^Instantiated class TYPO3\\CMS\\Core\\SystemResource\\Publishing\\UriGenerationOptions not found\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/Core/RichtText/RichTextConfigurationService.php

		-
			message: '#^Call to method getContentArea\(\) on an unknown class TYPO3\\CMS\\Fluid\\Event\\ModifyRenderedContentAreaEvent\.$#'
			identifier: class.notFound
			count: 6
			path: Classes/EventListener/RenderContentAreaEventListener.php

		-
			message: '#^Call to method getRenderedContentArea\(\) on an unknown class TYPO3\\CMS\\Fluid\\Event\\ModifyRenderedContentAreaEvent\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/EventListener/RenderContentAreaEventListener.php

		-
			message: '#^Call to method getRequest\(\) on an unknown class TYPO3\\CMS\\Fluid\\Event\\ModifyRenderedContentAreaEvent\.$#'
			identifier: class.notFound
			count: 3
			path: Classes/EventListener/RenderContentAreaEventListener.php

		-
			message: '#^Call to method setRenderedContentArea\(\) on an unknown class TYPO3\\CMS\\Fluid\\Event\\ModifyRenderedContentAreaEvent\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/EventListener/RenderContentAreaEventListener.php

		-
			message: '#^Parameter \$event of method TYPO3\\CMS\\VisualEditor\\EventListener\\RenderContentAreaEventListener\:\:__invoke\(\) has invalid type TYPO3\\CMS\\Fluid\\Event\\ModifyRenderedContentAreaEvent\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/EventListener/RenderContentAreaEventListener.php

		-
			message: '#^Class TYPO3\\CMS\\Backend\\Middleware\\JavaScriptLabelImportMapEntryResolver not found\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/Middleware/EditModeMiddleware.php

		-
			message: '#^Class TYPO3\\CMS\\Core\\Page\\Event\\ResolveVirtualJavaScriptImportEvent not found\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/Middleware/EditModeMiddleware.php

		-
			message: '#^Call to an undefined method PhpParser\\Node\\Expr\|PhpParser\\Node\\Identifier\:\:toString\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: Classes/PhpStanRule/NamedArgumentUsageRule.php

		-
			message: '#^Method TYPO3\\CMS\\VisualEditor\\Service\\DataHandlerService\:\:run\(\) should return list\<string\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: Classes/Service/DataHandlerService.php

		-
			message: '#^Cannot call method getGroupedRecords\(\) on array\.$#'
			identifier: method.nonObject
			count: 1
			path: Classes/Service/LanguageModeService.php

		-
			message: '#^Property TYPO3Fluid\\Fluid\\Core\\ViewHelper\\AbstractViewHelper\:\:\$renderingContext \(TYPO3Fluid\\Fluid\\Core\\Rendering\\RenderingContextInterface\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: Classes/ViewHelpers/EditModeViewHelper.php

		-
			message: '#^Property TYPO3Fluid\\Fluid\\Core\\ViewHelper\\AbstractViewHelper\:\:\$renderingContext \(TYPO3Fluid\\Fluid\\Core\\Rendering\\RenderingContextInterface\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: Classes/ViewHelpers/ImageViewHelper.php

		-
			message: '#^Call to method instantiate\(\) on an unknown class TYPO3\\CMS\\Core\\Page\\ContentAreaClosure\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/ViewHelpers/Mark/ContentAreaViewHelper.php

		-
			message: '#^Cannot call method withRequest\(\) on array\.$#'
			identifier: method.nonObject
			count: 1
			path: Classes/ViewHelpers/Mark/ContentAreaViewHelper.php

		-
			message: '#^Class TYPO3\\CMS\\Core\\Page\\ContentAreaClosure not found\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/ViewHelpers/Mark/ContentAreaViewHelper.php

		-
			message: '#^Property TYPO3Fluid\\Fluid\\Core\\ViewHelper\\AbstractViewHelper\:\:\$renderingContext \(TYPO3Fluid\\Fluid\\Core\\Rendering\\RenderingContextInterface\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: Classes/ViewHelpers/Mark/ContentAreaViewHelper.php

		-
			message: '#^Property TYPO3Fluid\\Fluid\\Core\\ViewHelper\\AbstractViewHelper\:\:\$renderingContext \(TYPO3Fluid\\Fluid\\Core\\Rendering\\RenderingContextInterface\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 2
			path: Classes/ViewHelpers/Render/TextViewHelper.php

		-
			message: '#^Property TYPO3\\CMS\\VisualEditor\\ViewHelpers\\Render\\TextViewHelper\:\:\$typo3Version on left side of \?\? is not nullable nor uninitialized\.$#'
			identifier: nullCoalesce.initializedProperty
			count: 1
			path: Classes/ViewHelpers/Render/TextViewHelper.php

		-
			message: '#^Class TYPO3\\CMS\\Fluid\\Event\\ModifyRenderedContentAreaEvent not found\.$#'
			identifier: class.notFound
			count: 1
			path: ext_localconf.php
